* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}

body {
  background-color: #dbdbdb;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height : 15vh;
  width: 100%;
  background-color: #5fa199;
  padding: 3rem;
}
.title {
  width: 40%;
  color: #fff;
  font-size: 25px;
  display: inline;
}

.navigation a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #000000;
  background-color: #d6d6d6;
  border: 2px solid rgb(255, 255, 255);
  margin: 0 5px 0 5px;
  width: 8rem;
  padding: 8px 0 8px 0;
  transition: all 0.6s;
  border-radius: 20px;
  font-size: 15px;
  font-weight: lighter;
}
a[href="#"] {
  color: rgb(255, 255, 255);
  background-color: #808080;
  border: 2px solid rgb(206, 206, 206);
}
main{
  height: 100vh;
}
.main {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  
}

.main-box {
  display: flex;
  width: 90%;
  padding: 3rem;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.137);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.banner {
  text-align: center;
}
.banner img {
  margin-top: 30px;
  width: 70%;
  border-radius: 20px;
}
.main-box .second-title {
  width: 100%;
  text-align: center;
  padding-top: 40px;
  margin-bottom: 20px;
}
.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  width: 200px;
}
.news {
  width: 100%;
}

.news a {
  color: blue;
}
.news ul{
  list-style: none;
}
.news .date{
  font-size: 22px;
}
.news .details{
    color: #6d6d6d;
  margin: 20px 0 20px 0;
  font-size: 15px;
  margin-left: 20px;
}
.news .subtitle{
  margin-left: 20px;
}
.news .mail{
  text-align: center;
}

.bannerlogo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.bannerlogo img{
  max-width: 40%;
  min-width: 150px;
}
.info{
  display: flex;
    justify-content: center;
}

scroll-container {
  display: inline-block;
  width: 600px;
  height: 300px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
scroll-page {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.calendar{
  width: 100%;
  color: #fff;
  text-align: center;
}
table{
  width: 100%;
  color: #000000;
  height: 100%;
}
tr{
  background-color: #fff;
}
th{
  background-color: #5fa199;
  color: #fff;
}
.information{
  margin-left: 50px;
}
.titletable{
  color: #000000;
  font-size: 18px;
}
footer{ 
  margin-top: 100px;
  height: 100%;
  background-color: #5fa199;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer p{
  font-size: 25px;
  color: #fff;
}
footer img{
  margin-left: 40px;
  width: 80px;
}
.social img{
  width: 20px;
}